{% extends "::base.html.twig" %}

{% block title %}
Battle Royale
{% endblock %}

{% block body %}


<div id="global-bloc">
	<br /><br />
	<div class="center-align">
		<div class="preloader-wrapper small active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<div>Chargement...</div>

	</div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript"
	src="{{ asset('/bundles/app/js/Index/Index.js') }}?{{ date().timestamp }}"></script>
<script type="text/javascript"
	src="{{ asset('/bundles/app/js/HtmlRender.js') }}?{{ date().timestamp }}"></script>

<script type="text/javascript">

	var params = {
		url_menu : '{{ path('ajax_game_menu') }}',
		url_new_player : '{{ path('ajax_new_player_form')}}',
	};

	$(document).ready(function()
	{
		$('.parallax').parallax();
		HtmlRender.Launch();
		Index.Launch(params);
		Index.LoadGameMenu();
  	});

	
</script>

{% endblock %}
